@import "tailwindcss";
@plugin "daisyui";


:root {
  --cPrimary: #ccff00;
  --cDark: #0C0D10;
  --cLight: #FFFFFF;

}

@theme {
  --color-cPrimary: var(--cPrimary);
  --color-cDark: var(--cDark);
  --color-cLight: var(--cLight);

  /* google font */
  --font-Inter: var(--font-Inter);
  --font-Oswald: var(--font-Oswald)
}