@import "tailwindcss";
@plugin "daisyui";


:root {
  --cPrimary: #ccff00;
  --cDark: #090A0D;
  --cLight: #FFFFFF;
  --cSecondary: #222630;

}

@theme {
  --color-cPrimary: var(--cPrimary);
  --color-cDark: var(--cDark);
  --color-cLight: var(--cLight);
  --color-cSecondary: var(--cSecondary);

  /* google font */
  --font-Inter: var(--font-Inter);
  --font-Oswald: var(--font-Oswald)
}